@model IEnumerable<_1670WebApplication.Models.Application>

@{
    ViewData["Title"] = "Application Page";
}

<h1>Applications</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Add New Application</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>JobList</th>
            <th>JobSeeker</th>
            <th>SelfIntroduction</th>
            <th>CoverLetter</th>
            <th>Resume</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in Model)
        {
            <tr>
                <td>@application.JobList</td>
                <td>@application.JobSeeker</td>
                <td>@application.SelfIntroduction</td>
                <td>@application.CoverLetter</td>
                <td>@application.Status</td>
                <td><img src="~/images/@application.Resume" class="rounded-cycle" width="100" height="100" /></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@application.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@application.ID">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>
